/* import */
@import "./modules/variables";
@import "./modules/mixins";
@import "./partials/normalize";

/* general */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-size: 62.25%;
  scroll-behavior: smooth;
  position: relative;
  background-color: $blackColor100;
}

/* web accessibility */
.sr-only {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.accessibility-options {
  list-style: none;
  padding: 0;
  margin: 0;
}

.accessibility-options__btn,
.accessibility-options__skip-link {
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  position: absolute;
  width: 1px;
  white-space: nowrap;
  text-align: center;
  text-decoration: none;
  padding: 24px 48px;
  position: absolute;
  top: 0;
  left: 1.5rem;
  z-index: 999;
  color: $blackColor100;
  background-color: $whiteColor;
  border: none;
  border-radius: 5px;
  line-height: 0;
  font-weight: 500;
  font-size: 1.8rem;
  font-family: "Poppins", sans-serif;
  outline: none;
  &:focus,
  &:active {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: auto;
    overflow: visible;
    width: auto;
    white-space: normal;
  }
}

/* scrollbar */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: $blackColor95;
}

::-webkit-scrollbar-thumb {
  @include gradient();
  border-radius: 5px;  
}

/* wrapper */
.wrapper {
  width: 100%;
  margin: 0 auto;
  color: $whiteColor;
  font-size: 1.6rem;
  font-weight: 500;
  font-family: "Poppins", sans-serif;

  @media screen and (min-width: $tabletWidth) {
    font-size: 1.8rem;
  }

  &--large {
    width: calc(100% - 40px);
    max-width: 1640px;

    @media screen and (min-width: $tabletWidth) {
      width: calc(100% - 80px);
    }

    @media screen and (min-width: $tvWidth) {
      width: calc(100% - 160px);
    }
  }

  &--small {
    max-width: 1544px;
    width: calc(100% - 40px);

    @media screen and (min-width: $tabletWidth) {
      width: calc(100% - 128px);
    }

    @media screen and (min-width: $tvWidth) {
      width: calc(100% - 256px);
    }
  }
}

/* header */
.header {
  width: 100%;
  padding: 24px 0;
  background-color: $blackColor100;
  position: absolute;
  z-index: 1;
}

.header__wrapper {
  @include flex(row, center, space-between);
}

.header__item {
  &:first-of-type {
    width: 33%;
  }

  &:last-of-type {
    width: 66%;
  }
}

.logo {
  display: inline-block;
  font-size: 2.4rem;
  color: $whiteColor;
  font-weight: 700;
  text-decoration: none;
  position: relative;
  z-index: 6;

  &::before {
    content: "";
    width: 90px;
    height: 4px;
    border-radius: 5px;
    @include gradient();
    position: absolute;
    bottom: 4.5px;
    left: 1.5px;
    z-index: -1;
  }
}

.navigation {
  @include flex(row, center, space-between);
}

.hamburger {
  width: 32px;
  height: 20px;
  display: inline-block;
  border: 0;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border-radius: 5px;
  z-index: 6;
  position: absolute;
  top: 32px;
  right: 20px;
  cursor: pointer;
  -webkit-transition: visibility 0s .4s, -webkit-transform .3s .1s ease-in-out;
  transition: visibility 0s .4s, -webkit-transform .3s .1s ease-in-out;
  -o-transition: transform .3s .1s ease-in-out, visibility 0s .4s;
  transition: transform .3s .1s ease-in-out, visibility 0s .4s;
  transition: transform .3s .1s ease-in-out, visibility 0s .4s, -webkit-transform .3s .1s ease-in-out;
  display: block;

  @media screen and (min-width: $laptopWidth) {
    display: none;
  }
}

.hamburger__box {
  width: 32px;
  height: 20px;
  display: inline-block;
  position: relative;
}

.hamburger__inner {
  width: 100%;
  height: 4px;
  @include gradient();
  border-radius: 5px;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: background-color 0.1s 0.2s ease-in-out;
  -o-transition: background-color 0.1s 0.2s ease-in-out;
  transition: background-color 0.1s 0.2s ease-in-out;

  &::before,
  &::after {
    content: "";
    width: 100%;
    height: 4px;
    background-color: $whiteColor;
    border-radius: 5px;
    position: absolute;
    right: 0;
    -webkit-transition: -webkit-transform 0.2s 0.2s ease-in-out;
    transition: -webkit-transform 0.2s 0.2s ease-in-out;
    -o-transition: transform 0.2s 0.2s ease-in-out;
    transition: transform 0.2s 0.2s ease-in-out;
    transition: transform 0.2s 0.2s ease-in-out, -webkit-transform 0.2s 0.2s ease-in-out;
  }

  &::before {
    top: -10px;
  }

  &::after {
    top: 10px;
  }
}

.hamburger--active {
  background-color: transparent;

  .hamburger__inner {
    background: transparent;

    &::before {
      -webkit-transform: translateY(10px) rotate(45deg);
      -ms-transform: translateY(10px) rotate(45deg);
      transform: translateY(10px) rotate(45deg);
    }

    &::after {
      -webkit-transform: translateY(-10px) rotate(-45deg);
      -ms-transform: translateY(-10px) rotate(-45deg);
      transform: translateY(-10px) rotate(-45deg);
    }
  }
}

.navigation {
  width: 100%;
  height: auto;
  @include flex(column, center, center);
  background-color: $blackColor100;
  gap: 48px;
  padding: 128px 0;
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
  z-index: 5;
  -webkit-transition: visibility 0s .4s, -webkit-transform .3s .1s ease-in-out;
  transition: visibility 0s .4s, -webkit-transform .3s .1s ease-in-out;
  -o-transition: transform .3s .1s ease-in-out, visibility 0s .4s;
  transition: transform .3s .1s ease-in-out, visibility 0s .4s;
  transition: transform .3s .1s ease-in-out, visibility 0s .4s, -webkit-transform .3s .1s ease-in-out;

  @media screen and (min-width: $laptopWidth) {
    @include flex(row, center, space-between);
    gap: 0;
    padding: 0;
    background: transparent;
    border-bottom: 0;
    visibility: visible;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    z-index: 0;
    position: static;
  }
}

.navigation--active {
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition: visibility 0s 0s, -webkit-transform .3s .1s ease-in-out;
  transition: visibility 0s 0s, -webkit-transform .3s .1s ease-in-out;
  -o-transition: transform .3s .1s ease-in-out, visibility 0s 0s;
  transition: transform .3s .1s ease-in-out, visibility 0s 0s;
  transition: transform .3s .1s ease-in-out, visibility 0s 0s, -webkit-transform .3s .1s ease-in-out;
  visibility: visible;
}

.menu {
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  @include flex(column, center, center);
  gap: 24px;

  @media screen and (min-width: $laptopWidth) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    gap: 48px;
  }
}

.menu__link {
  display: inline-block;
  color: $whiteColor;
  font-weight: 700;
  text-decoration: none;
  position: relative;
  z-index: 0;

  &:hover,
  &:focus {
    color: $blueColor;
  }

  @media screen and (min-width: $laptopWidth) {
    &::before {
      content: "";
      width: 105%;
      height: 4px;
      border-radius: 5px;
      @include gradient();
      position: absolute;
      bottom: 3.5px;
      left: -2.5%;
      z-index: -1;
      -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
      transform: scaleX(0);
      -webkit-transition: 0.2s;
      -o-transition: 0.2s;
      transition: 0.2s;
    }
  
    &:hover::before,
    &:focus::before {
      -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
      transform: scaleX(1);
    }

    &:hover,
    &:focus {
      color: $whiteColor;
    }
  }
}

.social-media {
  list-style: none;
  padding: 0;
  margin: 0;
  @include flex(row, center, center);
  gap: 8px;
  line-height: 0;

  @media screen and (min-width: $tabletWidth) {
    gap: 16px;
  }
}

.social-media__link {
  width: 48px;
  height: 48px;
  border: 3px solid $whiteColor;
  border-radius: 50%;
  @include flex(row, center, center);
  position: relative;
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);

  @media screen and (min-width: $tabletWidth) {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    @include gradient();
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: -webkit-transform 0.2s;
    transition: -webkit-transform 0.2s;
    -o-transition: transform 0.2s;
    transition: transform 0.2s;
    transition: transform 0.2s, -webkit-transform 0.2s;
  }

  &:hover::before,
  &:focus::before {
    -webkit-transform: scale(100%);
    -ms-transform: scale(100%);
    transform: scale(100%);
  }

  &:hover,
  &:focus {
    img {
      -webkit-filter: invert(100%);
      filter: invert(100%);
    }
  }
}

/* section */
.section {
  text-align: center;
  position: relative;
  z-index: 0;

  &--padding-biggest {
    padding: 128px 0 64px;

    @media screen and (min-width: $laptopWidth) {
      padding: 144px 0 64px;
    }
  }

  &--padding-big {
    padding: 128px 0 64px;
  }

  &--padding-middle {
    padding: 64px 0;
  }

  &--white {
    background-color: $whiteColor;
  }

  &--first {
    &::before {
      content: "";
      width: 100%;
      height: 150%;
      background-color: $blackColor100;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;

      @media screen and (min-width: $laptopWidth) {
        height: 140%;
      }
    }
  }

  &--second {
    &::before {
      content: "";
      width: 100%;
      height: 80%;
      background-color: #215f80;
      background-image: -o-linear-gradient(290deg, #215f80 0%, #046e4d 100%);
      background-image: linear-gradient(160deg, #215f80 0%, #046e4d 100%);
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: -1;

      @media screen and (min-width: $laptopWidth) {
        height: 70%;
      }
    }

    .section__wrapper {
      padding: 64px;
      background-color: $blackColor95;
      border-radius: 50px;
    }
  }

  &--fourth {
    &::before {
      content: "";
      width: 100%;
      height: 150%;
      background-color: $blackColor95;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;

      @media screen and (min-width: $laptopWidth) {
        height: 140%;
      }
    }
  }

  &--fifth {
    &::before {
      content: "";
      width: 100%;
      height: 80%;
      background-color: #3CB9FC;
      background-image: -o-linear-gradient(290deg, #3CB9FC 0%, #02D796 100%);
      background-image: linear-gradient(160deg, #3CB9FC 0%, #02D796 100%);
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: -1;

      @media screen and (min-width: $laptopWidth) {
        height: 70%;
      }
    }
  
    .section__wrapper {
      padding: 64px;
      background-color: $whiteColor;
      border-radius: 50px;
    }
  }

  &--404 {
    height: calc(100vh - 48px - 48px);
    @include flex(row, center, center);
  }
}

.section__wrapper {
  &--two-cols {
    @include flex(row, center, space-between);

    @media screen and (min-width: $laptopWidth) {
      text-align: left;
    }
  }

  &--contact {
    @include flex(column, center, center);
    gap: 24px;

    @media screen and (min-width: $laptopWidth) {
      @include flex(row, flex-start, flex-start);
      gap: 96px;
      text-align: left;
      font-size: 2.4rem;
    }
  }

  &--dark {
    color: $blackColor100;
  }
}

/* title */
.title {
  &--uppercase {
    text-transform: uppercase;
  }

  &--big {
    font-size: 4.4rem;
    margin: 0 0 24px;
    overflow-x: hidden;

    @media screen and (min-width: $laptopWidth) {
      font-size: 5.5rem;
    }
  }

  &--middle {
    font-size: 3.5rem;
    margin: 0 0 24px;

    @media screen and (min-width: $laptopWidth) {
      font-size: 4.4rem;
    }
  }
  
  &--small {
    font-size: 2.8rem;
    margin: 0 0 12px;

    @media screen and (min-width: $laptopWidth) {
      font-size: 3.5rem;
    }
  }

  &--404 {
    font-size: 12.5rem;
    line-height: 0;
    text-align: center;
    margin: 128px 0 64px;
    @include flex(row, center, center);
    font-weight: 700;

    @media screen and (min-width: $tabletWidth) {
      font-size: 24rem;
      line-height: 0.65;
      margin: 0 0 24px;
    }
  }
}

/* text */
.gradient-text {
  @include gradient();
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.typing-text {
  position: relative;

  &--animate {
    @media screen and (min-width: $tabletWidth) {
      &::before {
        content: "";
        width: 100%;
        height: 100%;
        background-color: $blackColor100;
        position: absolute;
        top: 0;
        left: 0;
        -webkit-animation: typing 5s steps(12) infinite;
        animation: typing 5s steps(12) infinite;
      }
    
      &::after {
        content: "";
        width: 4px;
        height: 80%;
        background-color: $whiteColor;
        border-radius: 5px;
        position: absolute;
        top: 10%;
        left: 0;
        -webkit-animation: typing 5s steps(12) infinite;
        animation: typing 5s steps(12) infinite;
      }
    }
  }
}

.text-wrapper {
  &--contact {
    .title {
      margin-bottom: 0;
    }

    .text {
      margin: 24px 0;
    }
  }

  &--font-400w {
    font-weight: 400;
    text-align: left;
  }
}

.text {
  &--small-width {
    max-width: 800px;
    margin: 0 auto;
  }
}

/* button */
.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-decoration: none;
  border-radius: 5px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  font-weight: 700;
  margin-top: 24px;
  position: relative;
  z-index: 1;

  img {
    margin-right: 8px;
  }

  &--fill {
    color: $blackColor100;
    background-color: $whiteColor;
    border-color: $whiteColor;
    padding: 12px 64px;

    &::before {
      content: "";
      width: 0;
      height: 100%;
      @include gradient();
      position: absolute;
      top: 0;
      left: 0;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      -webkit-transition: 0.2s;
      -o-transition: 0.2s;
      transition: 0.2s;
    }

    &:hover::before,
    &:focus::before {
      width: 100%;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      z-index: -1;
    }
  }

  &--decoration {
    &::before {
      content: "";
      width: 8px;
      height: 100%;
      @include gradient();
      position: absolute;
      top: 0;
      left: 0;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      -webkit-transition: 0.2s;
      -o-transition: 0.2s;
      transition: 0.2s;
    }

    &:hover::before,
    &:focus::before {
      width: 100%;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      z-index: -1;
    }
  }

  &--border {
    padding: 8px 60px;
    border: 4px solid $whiteColor;

    img {
      display: none;

      @media screen and (min-width: $tabletWidth) {
        display: block;
      }
    }
  }

  &--border-dark {
    color: $blackColor100;
    border-color: $blackColor100;

    &:hover,
    &:focus {
      border-color: transparent;
      background: -o-linear-gradient($whiteColor, $whiteColor) padding-box,
      -o-linear-gradient(left, $blueColor, $greenColor) border-box;
      background: -webkit-gradient(linear, left top, left bottom, from($whiteColor), to($whiteColor)) padding-box,
      -webkit-gradient(linear, left top, right top, from($blueColor), to($greenColor)) border-box;
      background: linear-gradient($whiteColor, $whiteColor) padding-box,
      linear-gradient(to right, $blueColor, $greenColor) border-box;
    }
  }
}

/* blob */
.blob {
  display: none;
  padding: 0 78px;
  position: relative;
  max-width: 612px;
  
  @media screen and (min-width: $laptopWidth) {
    display: block;
  }
}

.blob-img {
  width: 500px;
  height: 500px;
}

/* offer */
.offer {
  margin-top: 48px;
  @include flex(column, center, flex-start);
  gap: 48px;

  @media screen and (min-width: $tabletWidth) {
    margin-top: 64px;
    @include flex(row, flex-start, center);
    gap: 64px;
  }
}

.offer__item {
  max-width: 344px;

  @media screen and (min-width: $tabletWidth) {
    max-width: 280px;
  }

/*
  &--animation {
    img {
      animation: swinging 2.5s linear infinite;
    }
  }
*/

  img {
    height: 64px;
    margin-bottom: 16px;

    @media screen and (min-width: $tabletWidth) {
      height: 96px;
    }
  }
}

/* projects */
.projects {
  margin-top: 48px;
  @include flex(column, center, flex-start);
  gap: 16px;

  @media screen and (min-width: $tabletWidth) {
    margin-top: 64px;
    @include flex(row, flex-start, center);
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

.projects__item {
  width: 100%;
  height: 184px;
  @include flex(column, center, center);
  border-radius: 25px;
  text-decoration: none;
  color: $whiteColor;
  position: relative;
  z-index: 1;

  &::before,
  &::after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 25px;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: z-index 0.2s, -webkit-transform 0.2s;
    transition: z-index 0.2s, -webkit-transform 0.2s;
    -o-transition: z-index 0.2s, transform 0.2s;
    transition: z-index 0.2s, transform 0.2s;
    transition: z-index 0.2s, transform 0.2s, -webkit-transform 0.2s;
  }

  &::before {
    background: $whiteColor;
    border: 3px solid $blackColor100;
    z-index: 0;
  }

  &::after {
    background-color: rgba(5, 4, 4, 0.75);
    z-index: -1;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
  }

  &:hover::before,
  &:focus::before {
    z-index: -1;
  }

  &:hover::after,
  &:focus::after {
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
  }

  @media screen and (min-width: $tabletWidth) {
    width: 45%;
    height: 224px;
  }

  @media screen and (min-width: $laptopWidth) {
    width: 32%;
  }
}

.project-name {
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 12px;
}

/* posts slider */
.slider-wrapper {
  position: relative;
}

.slider {
  margin-top: 48px;
  position: relative;
  overflow: hidden;

  @media screen and (min-width: $tabletWidth) {
    margin-top: 64px;
  }
}

.slider__btn {
  width: 48px;
  height: 48px;
  background-color: $blackColor100;
  border: 3px solid $blackColor100;
  border-radius: 50%;
  @include flex(row, center, center);
  position: absolute;
  bottom: -63px;
  z-index: 1;

  @media screen and (min-width: $tabletWidth) {
    top: calc(50% - 24px);
  }

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: $whiteColor;
    border: 3px solid $whiteColor;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: -webkit-transform 0.2s;
    transition: -webkit-transform 0.2s;
    -o-transition: transform 0.2s;
    transition: transform 0.2s;
    transition: transform 0.2s, -webkit-transform 0.2s;
  }

  &:hover::before,
  &:focus::before {
    -webkit-transform: scale(100%);
    -ms-transform: scale(100%);
    transform: scale(100%);
  }

  &:hover,
  &:focus {
    img {
      -webkit-filter: invert(100%);
      filter: invert(100%);
    }
  }

  img {
    width: 24px;
    height: 24px;
  }

  &--left {
    left: calc(50% - 55px);

    @media screen and (min-width: $tabletWidth) {
      left: -25px;
    }
  }

  &--right {
    right: calc(50% - 55px);

    @media screen and (min-width: $tabletWidth) {
      right: -25px;
    }
  }
}

.posts {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: hidden;
  gap: 4px;
  scroll-behavior: smooth;

  @media screen and (min-width: $tabletWidth) {
    gap: 8px;
  }

  @media screen and (min-width: $laptopWidth) {
    gap: 16px;
  }
}

.posts__item {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 100%;
  flex: 1 0 100%;

  @media screen and (min-width: $tabletWidth) {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 50%;
    flex: 1 0 50%;
  }

  @media screen and (min-width: $laptopWidth) {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 33%;
    flex: 1 0 33%;
  }
}

.posts__link {
  display: block;
  width: 100%;
  color: $whiteColor;
  background-color: $blackColor100;
  border-radius: 25px;
  text-decoration: none;
  -webkit-transition: color 0.2s, background-color 0.2s;
  -o-transition: color 0.2s, background-color 0.2s;
  transition: color 0.2s, background-color 0.2s;

  &:hover,
  &:focus {
    color: $blackColor100;
    background-color: rgba(242, 242, 242, 1);

    .btn {
      border-color: $blackColor100;
    }
  }

  .post-img {
    width: 100%;
    height: 184px;
    background-color: $whiteColor;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;

    @media screen and (min-width: $tabletWidth) {
      height: 248px;
    }
  }

  .text-wrapper {
    padding: 24px 8px;

    .title {
      margin: 12px 0;
    }

    .text {
      margin: 0;
    }

    @media screen and (min-width: $tabletWidth) {
      padding: 24px;
    }
  }
}

.post-date {
  font-size: 1.6rem;
}

/* contact */
.image-wrapper {
  &--email {
    line-height: 0;
    @include flex(row, center, center);
    position: relative;

    img {
      height: 96px;
  
      @media screen and (min-width: $tabletWidth) {
        height: 200px;
      }
    }
  }
}

.ducky-contact {
  position: absolute;
  top: -50.5%;
  left: -25%; 
  -webkit-transform: scale(0.15); 
  -ms-transform: scale(0.15); 
  transform: scale(0.15);
  -webkit-animation: swinging-small 2s linear infinite;
  animation: swinging-small 2s linear infinite;
}

.email-link {
  display: inline-block;
  color: $blackColor95;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 700;
  position: relative;
  z-index: 0;
  -webkit-transition: color 0.2s;
  -o-transition: color 0.2s;
  transition: color 0.2s;

  &::before,
  &::after {
    content: "";
    width: 103%;
    height: 4px;
    border-radius: 5px;
    position: absolute;
    bottom: 3.5px;
    left: -1.5%;
    z-index: -1;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
  }

  &::before {
    @include gradient();
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
  }

  &::after {
    background: $blueColor;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
  }

  &:hover::after,
  &:focus::after {
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
  }

  &:hover,
  &:focus {
    color: $blackColor100;
  }

  @media screen and (min-width: $tabletWidth) {
    font-size: 2.4rem;
  }
}

/* 404 */
.num {
  position: relative;
}

.ducky {
  position: relative;

  &::before {
    content: "";
    width: 24px;
    height: 24px;
    background: url("../img/ducky.png") no-repeat center/contain;
    position: absolute;
    top: -70px;
    right: 10px;
  
    @media screen and (min-width: $tabletWidth) {
      width: 32px;
      height: 32px;
      top: -42px;
      right: 28px;
    }
  }
}

/* blog subpage */
.posts-wrapper {
  @include flex(row, flex-start, center);
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 16px;
  margin: 48px 0;

  @media screen and (min-width: $tabletWidth) {
    margin: 64px 0;
  }
}

.posts-wrapper__item {
  width: 100%;

  @media screen and (min-width: $tabletWidth) {
    width: 45%;
  }

  @media screen and (min-width: $laptopWidth) {
    width: 32%;
  }

  .posts__link {
    border: 3px solid $blackColor100;
  }
}

/* footer */
.footer {
  width: 100%;
  padding: 24px 0;
  position: absolute;
  z-index: 1;
}

.footer__wrapper {
  @include flex(column, center, center);
  gap: 16px;

  @media screen and (min-width: $tabletWidth) {
    @include flex(row, center, space-between);
  }
}

/* post */
.post-header {
  text-align: left;

  @media screen and (min-width: $laptopWidth) {
    text-align: center;
  }
}

.main-image {
  max-width: 800px;
  text-align: center;
  margin: 0 auto 24px;

  img {
    width: 100%;
    border-radius: 5px;
  }

  &--small {
    width: 200px;
    margin: 0 0 48px;

    @media screen and (min-width: $laptopWidth) {
      width: 500px;
    }
  }
}

.date {
  &--post {
    margin-bottom: 24px;

    @media screen and (min-width: $laptopWidth) {
      margin-bottom: 64px;
    }
  }
}

.ol-list {
  padding: 0 0 0 2rem;
}

.link {
  &--dark {
    font-weight: 700;
    color: $darkBlueColor;
    -webkit-transition: color 0.2s;
    -o-transition: color 0.2s;
    transition: color 0.2s;

    &:hover,
    &:focus {
      color: $blackColor100;
    }
  }
}

/* cookies */
.cookies {
  width: 100%;
  padding: 12px 0;
  background-color: $blackColor95;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 2;
  display: none;

  &::before {
    content: "";
    width: 100%;
    height: 1px;
    background-color: $whiteColor;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.active {
  display: block;
}

.cookies__wrapper {
  @include flex(row, center, center);
  gap: 24px;

  @media screen and (min-width: $tabletWidth) {
    @include flex(row, center, center);
  }
}

.cookies__img {
  height: 48px;
}

.cookies__text-wrapper {
  font-size: 1.4rem;
  @media screen and (min-width: $tabletWidth) {
    @include flex(row, center, center);
    gap: 24px;
    font-size: 1.6rem;
  }
}

.cookies__btn {
  border: none;
  padding: 8px 48px;
  margin: 0;
}

/* animations */
@-webkit-keyframes typing {
  40%, 60% {
    left: 100%;
  } 100% {
    left: 0;
  }
}
@keyframes typing {
  40%, 60% {
    left: 100%;
  } 100% {
    left: 0;
  }
}

/*
@-webkit-keyframes swinging {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  } 25% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  } 50% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  } 75% {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
  } 100% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
}

@keyframes swinging {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  } 25% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  } 50% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  } 75% {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
  } 100% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
}
*/

@-webkit-keyframes swinging-small {
  0% {
    -webkit-transform: rotate(0deg) scale(0.15);
    transform: rotate(0deg) scale(0.15);
  } 25% {
    -webkit-transform: rotate(-10.5deg) scale(0.15);
    transform: rotate(-10.5deg) scale(0.15);
  } 50% {
    -webkit-transform: rotate(0deg) scale(0.15);
    transform: rotate(0deg) scale(0.15);
  } 75% {
    -webkit-transform: rotate(5deg) scale(0.15);
    transform: rotate(5deg) scale(0.15);
  } 100% {
    -webkit-transform: rotate(0) scale(0.15);
    transform: rotate(0) scale(0.15);
  }
}

@keyframes swinging-small {
  0% {
    -webkit-transform: rotate(0deg) scale(0.15);
    transform: rotate(0deg) scale(0.15);
  } 25% {
    -webkit-transform: rotate(-10.5deg) scale(0.15);
    transform: rotate(-10.5deg) scale(0.15);
  } 50% {
    -webkit-transform: rotate(0deg) scale(0.15);
    transform: rotate(0deg) scale(0.15);
  } 75% {
    -webkit-transform: rotate(5deg) scale(0.15);
    transform: rotate(5deg) scale(0.15);
  } 100% {
    -webkit-transform: rotate(0) scale(0.15);
    transform: rotate(0) scale(0.15);
  }
}

/* projects images */
.projects__item--1 {
  &::before {
    background: url("../img/projects/pigeons.png") no-repeat center/cover;
  }
}

/* posts images */
.post-img--1 {
  background: url("../img/blog/ttimage.png") no-repeat center/cover;
}