/* import */
@import "./modules/fonts";
@import "./modules/variables";
@import "./modules/mixins";
@import "./partials/normalize";

/* general */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  position: relative;
  scroll-behavior: smooth;
  font-size: 62.25%;
  background-color: $blackColor;
}

body {
  z-index: 0;
  overflow-x: hidden;
}

.wrapper {
  width: 90%;
  max-width: 1350px;
  margin: 0 auto;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: $whiteColor;
  font-family: "Poppins", sans-serif;
}

/* web accessibility */
.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

.skip-link {
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
  text-align: center;
  text-decoration: none;
  padding: 1rem 3.5rem;
  position: absolute;
  top: 0;
  left: 1.5rem;
  z-index: 999;
  font-weight: 600;
  color: $blackColor;
  background-color: $whiteColor;
  &:focus,
  &:active {
    clip: auto !important;
    -webkit-clip-path: none !important;
    clip-path: none !important;
    height: auto !important;
    margin: auto !important;
    overflow: visible !important;
    width: auto !important;
    white-space: normal !important;
  }
}

/* scrollbar */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: $secondBlackColor;
}

::-webkit-scrollbar-thumb {
  @include gradient();
  border-radius: 5px;  
}

/* header */
.header {
  width: 100%;
  padding: 2.5rem 0;
}

.header__wrapper {
  @include flex(row, flex-end, space-between);
}

.logo a {
  display: inline-block;
  font-weight: 600;
  color: $whiteColor;
  font-size: 2.5rem;
  margin: 0;
  position: relative;
  z-index: 6;
  text-decoration: none;

  &::before {
    content: "";
    width: 110%;
    height: 5px;
    @include gradient();
    border-radius: 25px;
    position: absolute;
    // left: 3.5px;
    left: 2px;
    bottom: 3.5px;
    z-index: -1;
  }
}

/* hamburger */
.hamburger {
  width: 50px;
  height: 45px;
  display: inline-block;
  border: 0;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border-radius: 5px;
  z-index: 6;
  position: absolute;
  top: 2.5rem;
  right: 5%;
  cursor: pointer;
  transition: transform .3s .1s ease-in-out, visibility 0s .4s;
  display: block;

  @media screen and (min-width: $largeWidth) {
    display: none;
  }
}

.hamburger__box {
  width: 40px;
  height: 40px;
  display: inline-block;
  position: relative;
}

.hamburger__inner {
  width: 100%;
  height: 3px;
  @include gradient();
  border-radius: 25px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: background-color 0.1s 0.2s ease-in-out;

  &::before,
  &::after {
    content: "";
    width: 85%;
    height: 3px;
    background-color: $whiteColor;
    border-radius: 25px;
    position: absolute;
    right: 0;
    transition: transform 0.2s 0.2s ease-in-out;
  }

  &::before {
    top: -10px;
  }

  &::after {
    top: 10px;
  }
}

.hamburger--active {
  background-color: transparent;

  .hamburger__inner {
    background: transparent;

    &::before {
      transform: translateY(10px) rotate(45deg);
    }

    &::after {
      transform: translateY(-10px) rotate(-45deg);
    }
  }
}

/* navigation */
.navigation {
  height: auto;
  width: 100%;
  padding: 5rem 0;
  background: $blackColor;
  @include flex(column, center, center);
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  transform: translateY(-100%);
  z-index: 5;
  transition: transform .3s .1s ease-in-out, visibility 0s .4s;

  @media screen and (min-width: $largeWidth) {
    height: auto;
    padding: 0;
    background: transparent;
    visibility: visible;
    transform: translateY(0);
    z-index: 0;
    position: static;
  }
}

.navigation--active {
  transform: translateY(0px);
  transition: transform .3s .1s ease-in-out, visibility 0s 0s;
  visibility: visible;
}

.navigation__list {
  width: 100%;
  max-width: 700px;
  height: 100%;
  list-style: none;
  margin: 0;
  padding: 5.5rem 0;
  line-height: 2;
  text-align: center;
  z-index: 5;

  @media screen and (min-width: $largeWidth) {
    margin: 0;
    padding: 0;
    @include flex(row, flex-end, space-between);
  }
}

.navigation__item {
  text-align: center;

  @media screen and (min-width: $largeWidth) {
    margin-left: 2.5rem;
  }
}

.navigation__link {
  display: block;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.8rem;
  color: $whiteColor;
  padding: 0.5rem 0;
  margin-bottom: 1rem;
  position: relative;
  transition: background 0.2s;
  display: inline-block;

  @media screen and (max-width: $largeWidth) {
    &:hover,
    &:focus {
      @include gradient();
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  @media screen and (min-width: $largeWidth) {
    padding: 0 1rem;
    margin-bottom: 0;

    &::after {
      content: "";
      width: 100%;
      height: 5px;
      @include gradient();
      border-radius: 25px;
      position: absolute;
      left: 0;
      bottom: 3.5px;
      transform: scale(0);
      transition: transform 0.2s;
      z-index: -1;
    }
  
    &:hover::after,
    &:focus::after {
      transform: scale(1);
    }
  }
}

/* main */
.main {
  overflow-x: hidden;
}

/* section */
.section {
  padding: 2.5rem 0;
  text-align: center;

  &--second-color {
    background-color: $secondBlackColor;
  }

  &--third-color {
    background-color: $whiteColor;

    .wrapper {
      color: $blackColor;
    }
  }

  &--fourth-color {
    background-color: $secondWhiteColor;
    background-color: $secondBlackColor;
  }

  &--fifth-color {
    background-color: $secondBlackColor;
    background-color: $blackColor;
  }

  @media screen and (min-width: $largeWidth) {
    text-align: left;
    padding: 5rem 0;
  }
}

.wave {
  width: 110%;
  height: 140px;

  &--first {
    background: url("../img/wave-1.svg") no-repeat bottom/cover;
  }

  &--second {
    background: $secondBlackColor url("../img/wave-2.svg") no-repeat bottom/cover;
  }

  &--third {
    background: $whiteColor url("../img/wave-3.svg") no-repeat bottom/cover;
  }

  &--fourth {
    background: $secondBlackColor url("../img/wave-4.svg") no-repeat bottom/cover;
  }
}

.container {
  @include flex(row, flex-start, center);
  flex-wrap: wrap;

  @media screen and (min-width: $largeWidth) {
    @include flex(row, center, space-between);
  }

  &--column {
    @include flex(column, flex-start, center);
    flex-wrap: nowrap;

    .container__item {
      &--w33 {
        width: 100%;

        @media screen and (min-width: $largeWidth) {
          width: 33%;
        }
      }
    }
  
    @media screen and (min-width: $largeWidth) {
      @include flex(row, flex-start, space-between);
    }
  }
}

.container__item {
  &--w67 {
    width: 100%;
    margin-bottom: 5rem;

    @media screen and (min-width: $largeWidth) {
      width: 67%;
      margin-bottom: 0;
    }
  }

  &--w50 {
    width: 100%;

    @media screen and (min-width: $largeWidth) {
      width: 50%;
    }
  }

  &--w33 {
    width: 50%;
    margin-bottom: 2.5rem;

    @media screen and (min-width: $largeWidth) {
      width: 33%;
      margin-bottom: 0;
    }
  }

  &--padding-right {
      @media screen and (min-width: $largeWidth) {
      padding-right: 2.5rem;
    }
  }

  &--max-width {
    max-width: 600px;
  }

  &--hidden {
    display: none;

    @media screen and (min-width: $largeWidth) {
      display: block;
    }
  }
}

.title {
  width: 100%;
  display: inline-block;
  text-transform: uppercase;
  font-size: 2.5rem;
  margin: 0 0 3rem;

  @media screen and (min-width: $largeWidth) {
    font-size: 4rem;
  }

  &--big {
    font-size: 4rem;
    margin: 0 0 3rem;

    @media screen and (min-width: $largeWidth) {
      font-size: 5rem;
    }
  }
}

.title__color {
  @include gradient();
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text {
  font-size: 1.4rem;
  margin: 0;

  &--margin {
    margin-bottom: 1.5rem;
  }

  @media screen and (min-width: $largeWidth) {
    font-size: 1.6rem;
  }
}

.margin-bottom {
  margin-bottom: 5rem;
}

.btn-wrapper {
  text-align: center;
  margin-top: 1.5rem;

  @media screen and (min-width: $largeWidth) {
    margin-top: 5rem;
  }
}

.btn {
  display: inline-block;
  color: $blackColor;
  background-color: $whiteColor;
  text-decoration: none;
  font-weight: 600;
  text-transform: uppercase;
  padding: 1rem 3.5rem;
  position: relative;
  z-index: 1;
  font-size: 1.4rem;

  &::before {
    content: "";
    width: 10px;
    height: 100%;
    @include gradient();
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.2s;
  }

  &:hover::before,
  &:focus::before {
    width: 100%;
  }

  @media screen and (min-width: $mediumWidth) {
    font-size: 1.6rem;
  }
}

.blob {
  img {
    width: 100%;
  }
}

.image-wrapper {
  img {
    width: 70%;
  }

  @media screen and (min-width: $largeWidth) {
    padding: 3rem;
  }
}

.project-preview,
.blog-preview {
  width: 100%;
  line-height: 0;
}

.project-preview {
  @media screen and (min-width: $largeWidth) {
    margin-bottom: 3rem;
  }
}

.project-preview__link {
  display: block;
  padding: 0.3rem;
  text-decoration: none;
  transition: background 0.2s;

  &:hover,
  &:focus {
    @include gradient();
  }
}

.blog-preview__link {
  display: block;
  padding: 0.3rem;
  line-height: 1.5;
  text-decoration: none;
  color: $whiteColor;
  transition: background 0.2s;

  &:hover,
  &:focus {
    @include gradient();
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.project-preview__image,
.blog-preview__image {
  width: 100%;

  @media screen and (min-width: $largeWidth) {
    width: 100%;
  }
}

.blog-preview__container {
  padding: 1.5rem 0.5rem;
}

.blog-preview__date {
  margin-right: 10px;
  position: relative;

  &::before {
    content: "";
    width: 2px;
    height: 100%;
    @include gradient();
    position: absolute;
    top: 0;
    right: calc(-10px + 1px);
  }
}

.blog-preview__btn {
  font-weight: 600;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
  margin-top: 2rem;

  &::before {
    content: "";
    width: 100%;
    height: 2.5px;
    @include gradient;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: -1.5px;
    z-index: 0;
  }
}

/* contact */
.email {
  @include flex (row, flex-start, center);

  @media screen and (min-width: $largeWidth) {
    @include flex (row, flex-start, flex-start);
  }
}

.email__text {
  @include flex (row, center, center);
}

.email__icon {
  @include gradient();
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.5rem;
  margin-right: 1rem;
}

.email__link {
  color: $whiteColor;
  text-decoration: none;
  position: relative;
  transition: background 0.2s;

  &:hover,
  &:focus {
    @include gradient();
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

/* social media */
.social-media__list {
  list-style: none;
  padding: 0;
  margin: 0;
  @include flex(row, center, center);

  @media screen and (min-width: $largeWidth) {
    @include flex(row, center, flex-start);
  }

  &--right {
    @include flex(row, center, flex-end);
  }
}

.social-media__item {
  margin-left: 1rem;

  &:first-of-type {
    margin-left: 0;
  }
}

.social-media__link {
  display: inline-block;
  padding: 0.2rem 0.5rem;
  transition: background 0.2s;

  &:hover,
  &:focus {
    @include gradient();
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &--grey {
    color: $greyColor;
  }
}

/* footer */
.footer {
  background-color: $blackColor;
  padding: 2.5rem 0;
}

.footer__wrapper {
  @include flex(column, center, center);

  @media screen and (min-width: $mediumWidth) {
    @include flex(row, center, space-between);
  }
}

.copyright {
  color: $greyColor;
}

/* blog, projects */
.link {
  color: $darkPinkColor;
  text-decoration: none;
  position: relative;
  transition: color 0.2s;

  &::before {
    content: "";
    width: 100%;
    height: 2px;
    border-bottom: 2px dotted $darkPinkColor;
    position: absolute;
    left: 0;
    bottom: 1px;
    transition: border 0.2s;
  }

  &:hover::before,
  &:focus::before {
    border-color: $darkBlueColor;
  }

  &:hover,
  &:focus {
    color: $darkBlueColor;
  }
}