/* import */
@import "./modules/variables";
@import "./modules/mixins";
@import "./partials/normalize";

/* web accessibility */
.sr-only {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.skip-link {
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  position: absolute;
  width: 1px;
  white-space: nowrap;
  text-align: center;
  text-decoration: none;
  padding: 24px 48px;
  position: absolute;
  top: 0;
  left: 1.5rem;
  z-index: 999;
  color: $blackColor100;
  background-color: $whiteColor;
  border-radius: 5px;
  line-height: 0;
  font-weight: 700;
  font-size: 1.8rem;
  font-family: "Poppins", sans-serif;
  &:focus,
  &:active {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: auto;
    overflow: visible;
    width: auto;
    white-space: normal;
  }
}

/* scrollbar */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: $blackColor95;
}

::-webkit-scrollbar-thumb {
  @include gradient();
  border-radius: 5px;  
}

/* general */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-size: 62.25%;
  scroll-behavior: smooth;
  position: relative;
  background-color: $blackColor100;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  color: $whiteColor;
  font-size: 1.6rem;
  font-weight: 500;
  font-family: "Poppins", sans-serif;

  @media screen and (min-width: $tabletWidth) {
    font-size: 1.8rem;
  }

  &--large {
    width: calc(100% - 40px);
    max-width: 1640px;

    @media screen and (min-width: $laptopWidth) {
      width: calc(100% - 80px);
    }

    @media screen and (min-width: $tvWidth) {
      width: calc(100% - 160px);
    }
  }

  &--small {
    max-width: 1544px;
    width: calc(100% - 64px);

    @media screen and (min-width: $laptopWidth) {
      width: calc(100% - 128px);
    }

    @media screen and (min-width: $tvWidth) {
      width: calc(100% - 256px);
    }
  }

  &--dark {
    color: $blackColor95;
  }
}

.title {
  margin: 0 0 24px;

  &--uppercase {
    text-transform: uppercase;
  }

  &--center {
    text-align: left;

    @media screen and (min-width: $laptopWidth) {
      text-align: center;
    }
  }

  &--biggest {
    font-size: 12.5rem;
    line-height: 0;
    text-align: center;
    margin: 128px 0 64px;

    @media screen and (min-width: $tabletWidth) {
      font-size: 24rem;
      line-height: 0.65;
      margin: 24px 0 64px;
    }
  }

  &--big {
    font-size: 4.4rem;

    @media screen and (min-width: $laptopWidth) {
      font-size: 5.5rem;
    }
  }

  &--middle {
    font-size: 3.5rem;

    @media screen and (min-width: $laptopWidth) {
      font-size: 4.4rem;
    }
  }
  
  &--small {
    font-size: 2.8rem;

    @media screen and (min-width: $laptopWidth) {
      font-size: 3.5rem;
    }
  }

  &--dark {
    color: $blackColor100;
  }

  &--light-dark {
    color: $blackColor95;
  }

  &--margin-0 {
    margin: 0;
  }
}

.text-wrapper {
  font-weight: 400;
  margin-bottom: 24px;
}

.text {
  &--small {
    @media screen and (min-width: $laptopWidth) {
      max-width: 900px;
    }
  }
}

.gradient-text {
  @include gradient();
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.button-wrapper {
  margin-top: 24px;
  text-align: center;

  @media screen and (min-width: $laptopWidth) {
    margin-top: 48px;
  }

  &--margin-biggest {
    margin: 0 0 100px;

    @media screen and (min-width: $tabletWidth) {
      margin: 0 0 24px;
    }
  }

  &--small {
    @media screen and (min-width: $laptopWidth) {
      margin-top: 24px;
    }
  }

  &--left {
    @media screen and (min-width: $laptopWidth) {
      text-align: left;
    }
  }

  &--margin-big {
    margin-top: 24px;

    @media screen and (min-width: $laptopWidth) {
      margin-top: 96px;
      margin-top: calc(96px - 24px);
    }
  }
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border-radius: 5px;
  transition: 0.2s;
  font-weight: 700;
  margin-top: 24px;
  position: relative;
  z-index: 1;

  img {
    margin-right: 8px;
  }

  &--fill {
    color: $blackColor100;
    background-color: $whiteColor;
    border-color: $whiteColor;
    padding: 8px 20px;

    &::before {
      content: "";
      width: 0;
      height: 100%;
      @include gradient();
      position: absolute;
      top: 0;
      left: 0;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      transition: 0.2s;
    }

    &:hover::before,
    &:focus::before {
      width: 100%;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      z-index: -1;
    }
  }

  &--decoration {
    padding: 8px 48px;

    &::before {
      content: "";
      width: 8px;
      height: 100%;
      @include gradient();
      position: absolute;
      top: 0;
      left: 0;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      transition: 0.2s;
    }

    &:hover::before,
    &:focus::before {
      width: 100%;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      z-index: -1;
    }
  }

  &--border {
    padding: 8px 20px;
  }

  &--border-white {
    color: $whiteColor;
    border: 4px solid $whiteColor;

    &:hover,
    &:focus {
      border-color: transparent;
      background: -webkit-gradient(linear, left top, left bottom, from($blackColor95), to($blackColor95)) padding-box,
      -webkit-gradient(linear, left top, right top, from($blueColor), to($greenColor)) border-box;
      background: -o-linear-gradient($blackColor95, $blackColor95) padding-box,
      -o-linear-gradient(left, $blueColor, $greenColor) border-box;
      background: linear-gradient($blackColor95, $blackColor95) padding-box,
      linear-gradient(to right, $blueColor, $greenColor) border-box;
    }
  }

  &--border-dark {
    color: $blackColor95;
    border: 4px solid $blackColor95;

    &:hover,
    &:focus {
      border-color: transparent;
      background: -webkit-gradient(linear, left top, left bottom, from($whiteColor), to($whiteColor)) padding-box,
      -webkit-gradient(linear, left top, right top, from($blueColor), to($greenColor)) border-box;
      background: -o-linear-gradient($whiteColor, $whiteColor) padding-box,
      -o-linear-gradient(left, $blueColor, $greenColor) border-box;
      background: linear-gradient($whiteColor, $whiteColor) padding-box,
      linear-gradient(to right, $blueColor, $greenColor) border-box;
    }
  }
}

.image-wrapper {
  img {
    width: 250px;

    @media screen and (min-width: $laptopWidth) {
      width: 311px;
    }
  }
}

.header,
.footer {
  padding: 24px 0;
}

.footer {
  position: relative;
}

.header__wrapper,
.footer__wrapper {
  @include flex(row, center, space-between);

  @media screen and (min-width: $laptopWidth) {
    align-items: flex-end;
  }
}

.section {
  padding: 32px 0;
  text-align: center;

  &--left {
    text-align: left;
  }

  @media screen and (min-width: $tabletWidth) {
    padding: 64px 0;
  }

  @media screen and (min-width: $laptopWidth) {
    padding: 128px 0;
    text-align: left;
  }

  &--padding-middle {
    @media screen and (min-width: $tabletWidth) {
      padding: 96px 0;
    }
  }

  &--padding-small {
    @media screen and (min-width: $tabletWidth) {
      padding: 64px 0;
    }
  }

  &--white {
    background-color: $whiteColor;
  }
}

.section__wrapper {
  &--two-cols  {
    @include flex(column, center, center);
    gap: 32px;
  
    @media screen and (min-width: $laptopWidth) {
      @include flex(row, center, space-between);
      gap: 64px;
    }
  }

  &--center {
    text-align: center;
  }
}

/* logo */
.logo {
  display: inline-block;
  font-size: 2.4rem;
  color: $whiteColor;
  font-weight: 700;
  text-decoration: none;
  position: relative;
  z-index: 6;

  &::before {
    content: "";
    width: 90px;
    height: 4px;
    border-radius: 5px;
    @include gradient();
    position: absolute;
    bottom: 4.5px;
    left: 1.5px;
    z-index: -1;
  }
}

/* hamburger */
.hamburger {
  width: 32px;
  height: 20px;
  display: inline-block;
  border: 0;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border-radius: 5px;
  z-index: 6;
  position: absolute;
  top: 32px;
  right: 20px;
  cursor: pointer;
  -webkit-transition: visibility 0s .4s, -webkit-transform .3s .1s ease-in-out;
  transition: visibility 0s .4s, -webkit-transform .3s .1s ease-in-out;
  -o-transition: transform .3s .1s ease-in-out, visibility 0s .4s;
  transition: transform .3s .1s ease-in-out, visibility 0s .4s;
  transition: transform .3s .1s ease-in-out, visibility 0s .4s, -webkit-transform .3s .1s ease-in-out;
  display: block;

  @media screen and (min-width: $laptopWidth) {
    display: none;
  }
}

.hamburger__box {
  width: 32px;
  height: 20px;
  display: inline-block;
  position: relative;
}

.hamburger__inner {
  width: 100%;
  height: 4px;
  @include gradient();
  border-radius: 5px;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: background-color 0.1s 0.2s ease-in-out;
  -o-transition: background-color 0.1s 0.2s ease-in-out;
  transition: background-color 0.1s 0.2s ease-in-out;

  &::before,
  &::after {
    content: "";
    width: 100%;
    height: 4px;
    background-color: $whiteColor;
    border-radius: 5px;
    position: absolute;
    right: 0;
    -webkit-transition: -webkit-transform 0.2s 0.2s ease-in-out;
    transition: -webkit-transform 0.2s 0.2s ease-in-out;
    -o-transition: transform 0.2s 0.2s ease-in-out;
    transition: transform 0.2s 0.2s ease-in-out;
    transition: transform 0.2s 0.2s ease-in-out, -webkit-transform 0.2s 0.2s ease-in-out;
  }

  &::before {
    top: -10px;
  }

  &::after {
    top: 10px;
  }
}

.hamburger--active {
  background-color: transparent;

  .hamburger__inner {
    background: transparent;

    &::before {
      -webkit-transform: translateY(10px) rotate(45deg);
      -ms-transform: translateY(10px) rotate(45deg);
      transform: translateY(10px) rotate(45deg);
    }

    &::after {
      -webkit-transform: translateY(-10px) rotate(-45deg);
      -ms-transform: translateY(-10px) rotate(-45deg);
      transform: translateY(-10px) rotate(-45deg);
    }
  }
}

/* navigation */
.navigation {
  width: 100%;
  height: auto;
  list-style: none;
  @include flex(column, center, center);
  background-color: $blackColor100;
  gap: 24px;
  padding: 128px 0;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
  z-index: 5;
  -webkit-transition: visibility 0s .4s, -webkit-transform .3s .1s ease-in-out;
  transition: visibility 0s .4s, -webkit-transform .3s .1s ease-in-out;
  -o-transition: transform .3s .1s ease-in-out, visibility 0s .4s;
  transition: transform .3s .1s ease-in-out, visibility 0s .4s;
  transition: transform .3s .1s ease-in-out, visibility 0s .4s, -webkit-transform .3s .1s ease-in-out;

  @media screen and (min-width: $laptopWidth) {
    @include flex(row, center, center);
    padding: 0;
    background: transparent;
    visibility: visible;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    z-index: 0;
    position: static;
  }
}

.navigation--active {
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition: visibility 0s 0s, -webkit-transform .3s .1s ease-in-out;
  transition: visibility 0s 0s, -webkit-transform .3s .1s ease-in-out;
  -o-transition: transform .3s .1s ease-in-out, visibility 0s 0s;
  transition: transform .3s .1s ease-in-out, visibility 0s 0s;
  transition: transform .3s .1s ease-in-out, visibility 0s 0s, -webkit-transform .3s .1s ease-in-out;
  visibility: visible;
}

.navigation__link {
  display: inline-block;
  color: $whiteColor;
  font-weight: 700;
  text-decoration: none;
  position: relative;
  z-index: 0;

  &:hover,
  &:focus {
    color: $blueColor;
  }

  @media screen and (min-width: $laptopWidth) {
    &::before {
      content: "";
      width: 105%;
      height: 4px;
      border-radius: 5px;
      @include gradient();
      position: absolute;
      bottom: 3.5px;
      left: -2.5%;
      z-index: -1;
      transform: scale(0);
      transition: 0.2s;
    }
  
    &:hover::before,
    &:focus::before {
      transform: scale(1);
    }

    &:hover,
    &:focus {
      color: $whiteColor;
    }
  }
}

.menu-decoration {
  width: 30%;
  position: absolute;
  right: 0;
  bottom: 0;
  @media screen and (min-width: $laptopWidth) {
    display: none;
  }
}

/* blob */
.blob {
  display: none;
  padding: 0 78px;
  position: relative;
  max-width: 612px;
  
  @media screen and (min-width: $laptopWidth) {
    display: block;
  }
}

.blob-img {
  width: 500px;
  height: 500px;
}

.blob-btn {
  width: 48px;
  height: 48px;
  border: 4px solid $grayColor;
  border-radius: 50%;
  background-color: transparent;
  position: absolute;
  bottom: 24px;
  right: 48px;
  @include flex(row, center, center);

  img {
    height: 24px;
  }

  &:hover,
  &:focus {
    border-color: transparent;
    background: -webkit-gradient(linear, left top, left bottom, from($blackColor95), to($blackColor95)) padding-box,
    -webkit-gradient(linear, left top, right top, from($blueColor), to($greenColor)) border-box;
    background: -o-linear-gradient($blackColor95, $blackColor95) padding-box,
    -o-linear-gradient(left, $blueColor, $greenColor) border-box;
    background: linear-gradient($blackColor95, $blackColor95) padding-box,
    linear-gradient(to right, $blueColor, $greenColor) border-box;
  }
}

.padding-left {
  padding-left: 3.5px;
}

.blob-about-me {
  width: 250px;

  @media screen and (min-width: $laptopWidth) {
    width: 311px;
  }
}

/* social media */
.social-media {
  @include flex(row, center, center);
  gap: 8px;
  margin-top: 24px;
  line-height: 0;

  @media screen and (min-width: $laptopWidth) {
    @include flex(row, center, flex-start);
  }
}

.social-media__link {
  text-decoration: none;
  border: 4px solid transparent;
  padding: 6px 8px;
  border-radius: 50%;

  &:hover,
  &:focus {
    border-color: transparent;
    background: -webkit-gradient(linear, left top, left bottom, from($whiteColor), to($whiteColor)) padding-box,
    -webkit-gradient(linear, left top, right top, from($blueColor), to($greenColor)) border-box;
    background: -o-linear-gradient($whiteColor, $whiteColor) padding-box,
    -o-linear-gradient(left, $blueColor, $greenColor) border-box;
    background: linear-gradient($whiteColor, $whiteColor) padding-box,
    linear-gradient(to right, $blueColor, $greenColor) border-box;
  }
}

/* projects */
.projects {
  @include flex(column, flex-start, center);
  gap: 24px;
  margin-top: 48px;

  @media screen and (min-width: $tabletWidth) {
    @include flex(row, flex-start, space-between);
    flex-wrap: wrap;
    gap: 48px;
  }

  &--subpage {
    @media screen and (min-width: $tabletWidth) {
      gap: 12px;
    }
  }

  &--subpage {
    @media screen and (min-width: $laptopWidth) {
      gap: 24px;
    }
  }
}

.project {
  width: 100%;
  color: $whiteColor;
  background-color: $blackColor95;
  border-radius: 5px;
  text-align: center;
  position: relative;
  z-index: 1;

  @media screen and (min-width: $tabletWidth) {
    width: calc(50% - 24px);
  }

  &--subpage {
    padding: 8px;

    @media screen and (min-width: $tabletWidth) {
      width: calc(50% - 6px);
    }

    @media screen and (min-width: $laptopWidth) {
      width: calc(50% - 12px);
    }
  }
}

.project__image {
  height: 250px;
  background: url("../img/pigeons.png") no-repeat center/cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.project__text {
  padding: 24px;

  .title {
    margin-bottom: 24px;
  }

  .btn {
    margin-top: 24px;
  }
}

/* items */
.items {
  @include flex(column, flex-start, center);
  gap: 24px;
  margin-top: 48px;

  @media screen and (min-width: $tabletWidth) {
    flex-direction: row;
    flex-wrap: wrap;
  }

  @media screen and (min-width: $laptopWidth) {
    justify-content: space-between;
    flex-wrap: nowrap;
  }
}

.item {
  width: 100%;
  background-color: $blackColor95;
  border-radius: 5px;
  text-align: center;
  position: relative;
  z-index: 1;

  @media screen and (min-width: $tabletWidth) {
    width: calc(50% - 12px);
  }

  @media screen and (min-width: $laptopWidth) {
    width: calc(33% - 12px);
  }
}

.item__image {
  height: 250px;
  background: url("../img/pigeons.png") no-repeat center/cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.item__text {
  padding: 24px;

  .title {
    margin-bottom: 12px;
  }

  .date {
    margin-bottom: 12px;
  }

  .btn {
    margin-top: 12px;
  }
}

/* boxes */
.boxes {
  @include flex(column, flex-start, center);
  gap: 12px;
  margin-top: 48px;

  @media screen and (min-width: $tabletWidth) {
    flex-direction: row;
    flex-wrap: wrap;
  }

  @media screen and (min-width: $laptopWidth) {
    justify-content: space-between;
  }
}

.box {
  width: 100%;
  padding: 8px;
  color: $whiteColor;
  background-color: $blackColor95;
  border-radius: 5px;
  text-align: center;
  position: relative;
  z-index: 1;

  @media screen and (min-width: $tabletWidth) {
    width: calc(50% - 6px);
  }

  @media screen and (min-width: $laptopWidth) {
    width: calc(33% - 6px);
  }
}

.box__image {
  height: 250px;
  background: url("../img/pigeons.png") no-repeat center/cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.box__text {
  padding: 24px;

  .title {
    margin-bottom: 12px;
  }

  .date {
    margin-bottom: 12px;
  }

  .btn {
    margin-top: 12px;
  }
}

/* email */
.email__icon {
  font-size: 2.8rem;
  margin-right: 8px;
}

/* link */
.link {
  color: $blueColor;
  position: relative;
  z-index: 0;

  &::before {
    content: "";
    width: 100%;
    height: 2px;
    border-radius: 5px;
    @include gradient();
    position: absolute;
    bottom: 2.5px;
    left: 0;
    z-index: -2;
    transform: scale(0);
    transition: 0.2s;
  }

  &:hover::before,
  &:focus::before {
    transform: scale(1);
  }

  &:hover,
  &:focus {
    text-decoration: none;
  }

  @media screen and (min-width: $laptopWidth) {

    &::before {
      background-color: $whiteColor;
      background-image: none;
    }
  }

  &--dark {
    color: $darkBlueColor;
  
    &::before {
      background-color: $darkBlueColor;
    }
  }
}

/* link for website map */
.link-map {
  color: $whiteColor;
  position: relative;
  z-index: 1;

  &::before {
    content: "";
    width: 105%;
    height: 2px;
    border-radius: 5px;
    @include gradient();
    position: absolute;
    bottom: 2.5px;
    left: -2.5%;
    z-index: -2;
    transform: scale(0);
    transition: 0.2s;
  }

  &:hover::before,
  &:focus::before {
    transform: scale(1);
  }

  &:hover,
  &:focus {
    text-decoration: none;
  }

  @media screen and (min-width: $laptopWidth) {
    color: $blackColor100;

    &::before {
      background-color: $whiteColor;
      background-image: none;
    }
  }

  &--white {
    @media screen and (min-width: $laptopWidth) {
      color: $whiteColor;
  
      &::before {
        @include gradient();
      }
    }
  }
}

/* footer decoration */
.footer-decoration {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 0;
  display: none;

  @media screen and (min-width: $laptopWidth) {
    width: 20%;
    display: block;

    &--big {
      width: 30%;
      z-index: -1;
    }
  }
}

/* subpages */
/* map */
.map {
  margin-top: 48px;
}

.map__item {
  margin-bottom: 24px;
}

.map__list {
  margin: 0;
  padding: 0;
  list-style: none;

  a {
    color: $darkBlueColor;

    &:hover,
    &:focus {
      color: $blackColor100;
    }
  }
}

/* post and case study */
.main-image {
  max-width: 800px;
  text-align: center;
  margin: 0 auto 24px;

  img {
    width: 100%;
    // border: 4px solid black;
    border-radius: 5px;
  }
}

.date {
  &--post {
    text-align: left;
    margin-bottom: 48px;

    @media screen and (min-width: $laptopWidth) {
      text-align: center;
      margin-bottom: 96px;
    }
  }
}

.ol-list {
  font-weight: 400;
}

/* Blog images */
.blog-post-1 {
  background-image: url("../img/blog/ttimage.png");
}