@mixin flex($direction, $alignItems, $justifyContent) {
  display: flex;
  flex-direction: $direction;
  align-items: $alignItems;
  justify-content: $justifyContent;
}

@mixin gradient() {
  background: #3CB9FC;
  background: linear-gradient(129.46deg, #3CB9FC 13.59%, #02D796 95.18%);
}