@mixin flex($direction, $alignItems, $justifyContent) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: $direction;
  flex-direction: $direction;
  -webkit-box-align: $alignItems;
  -ms-flex-align: $alignItems;
  align-items: $alignItems;
  -webkit-box-pack: $justifyContent;
  -ms-flex-pack: $justifyContent;
  justify-content: $justifyContent;
}

@mixin gradient() {
  background: rgb(60,185,252);
  background: -webkit-gradient(linear, left top, right top, from(rgba(60,185,252,1)), to(rgba(2,215,150,1)));
  background: -o-linear-gradient(left, rgba(60,185,252,1) 0%, rgba(2,215,150,1) 100%);
  background: linear-gradient(90deg, rgba(60,185,252,1) 0%, rgba(2,215,150,1) 100%); 
}