// colors
$whiteColor: #F2F2F2;
$blackColor100: #050404;
$blackColor95: #121111;
$grayColor: #C0C0C0;
$blueColor: #3CB9FC;
$greenColor: #02D796;
$darkBlueColor: #1E4F9F;

// width
$tabletWidth: 600px;
$laptopWidth: 1200px;
$tvWidth: 1800px;