// colors
// $whiteColor: #fff;
// $secondWhiteColor: #f0f0f0;
$whiteColor: #f0f0f0;
// $blackColor: #000;
// $secondBlackColor: #050404;
$blackColor: #050404;
$blueColor: #3cb9fb;
$darkBlueColor: #046a9f;

// width
$smallWidth: 576px;
$mediumWidth: 768px;
$largeWidth: 992px;
$hdWidth: 1280px;
$fullHdWidth: 1920px;